h2 {
  text-align: center;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  align-items: center;
}
#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-area {
  min-height: 500px;
  width: 42vw;
  margin: 5px 5px;
  background-color: var(--color1);
  color: var(--white);
  border-color: black;
  resize: none;
}

@media (max-width: 950px) {
  #container{
    flex-direction: row;
    height: auto;
  }
  #controls {
    width: 70vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }
  .display-area {
    width: 90vw;
    min-height: 400px;
  }
  .button{
    width:max-content;
  }
}

/* CSS */
.button {
  width: 10vw;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px 0px;
}

.button-red {
  background-color: #ea4c89;
}
.button-red:hover,
.button-red:focus {
  background-color: #f082ac;
}

.button-blue {
  background-color: #1e90ff;
}
.button-blue:hover,
.button-blue:focus {
  background-color: #00bfff;
}

#footer{
  margin: 20px 5px;
  border: solid 2px lightgrey;
  padding: 10px;
  border-radius: 5px;
}

#footer-title{
  font-size: large;
}